<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gcsj.mapper.EnrInfoMapper">
    <resultMap id="EnrInfoRM" type="com.gcsj.pojo.EnrollmentInfo">
        <id property="id" column="id"></id>
        <result property="schoolCode" column="school_code"></result>
        <result property="schoolName" column="school_name"></result>
        <result property="province" column="province"></result>
        <result property="majorCode" column="major_code"></result>
        <result property="profess" column="profess"></result>
        <result property="subject" column="subject"></result>
        <result property="batch" column="batch"></result>
        <result property="plan" column="plan"></result>
    </resultMap>

    <select id="listEnrInfo" resultMap="EnrInfoRM">
--         select *
--         from enrollment_info
    </select>

    <select id="selectEnrInfoListByPage" resultMap="EnrInfoRM">
        select * from enrollment_info
        <where> 1 = 1
            <if test='schoolName != null'>
               and school_Name like CONCAT('%',#{schoolName},'%')
            </if>
            <if test='profess != null'>
                and profess like CONCAT('%',#{profess},'%')
            </if>
            <if test='province != null'>
                and province like CONCAT('%',#{province},'%')
            </if>
            <if test='subject != null'>
                and subject like CONCAT('%',#{subject},'%')
            </if>
        </where>
    </select>

    <select id="selectByMajorListByPage" resultMap="EnrInfoRM">
        select profess,sum(plan)
        from enrollment_info
        <where>
            <if test='schoolName != null'>
                enrollment_info.school_Name like CONCAT('%',#{schoolName},'%')</if>
            <if test='province != null'>
                and enrollment_info.province like CONCAT('%',#{province},'%')</if>
        </where>
        group by  profess order by sum(plan)
        <if test="desc != null">desc</if>
        <if test="desc == null">asc</if>
    </select>

</mapper>