<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gcsj.mapper.SchoolMajorMapper">
    <resultMap id="SchoolMajorRM" type="com.gcsj.pojo.SchoolMajor">
        <id property="id" column="id"></id>
        <result property="schoolCode" column="school_code"></result>
        <result property="majorCode" column="major_code"></result>
    </resultMap>

    <select id="selectSchoolMajorBySchool" parameterType="String" resultMap="SchoolMajorRM">
        select *
        from school_major
        where school_code = #{schoolCode}
    </select>

    <select id="selectSchoolMajorByMajor" parameterType="String" resultMap="SchoolMajorRM">
        select *
        from school_major
        where major_code = #{majorCode}
    </select>

</mapper>
